@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$orange: rgba(244, 119, 15, 1);
$light-orange: #FFAF6C;
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$fade-blue: rgba(109, 152, 182, 0.28);
$item-color: #EFEFEF;
$google-blue: #4285f4;
$facebook-blue: #3b579d;
$light-grey: #f5f5f5;

/* For showing the footer at the bottom */
html, body {
    height: 100%;
}

#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

body {
    font: 14px "Titillium Web", "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 100px;
    overflow-x: hidden;
    /*background-image: url("/images/women.jpg");*/
}

#backgroundImg img {
    width: 10px
}


.btn-search {
    width: 150px;
    background-color: $light-orange;
    color: black;
}

#createEventBtn {
    width: 150px;
}

.btn {
    color: black;
}

.btn-splbourne {
    width: 150px;
}

.carousel-image {
    /*background-size: cover;*/
    width: 100%;
}


.collapse {
    min-height: 100px;
}

.eventList {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $item-color;

    .eventBody {
        margin: 10px;
        border: 0 solid black;
        background-color: white;
        //border-radius: 10px;
    }

    .eventImg {
        width: 100px;
        padding: 10px;
        vertical-align: middle;
    }

    #events-container {
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .eventTitle {
        margin-top: 10px;
    }
}

.filter {
    padding-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: white;
    padding-bottom: 20px;
}

.filter-label {
    font-size: large;
}

#joinBtn {
    margin: 10px;
    width: 100px;
    background-color: $light-orange;
}

#disabledJoinBtn {
    margin: 10px;
    width: 100px;
    background-color: grey;
}

#loginComponent {
    padding-top: 100px;
    p {
        font-size: 16px;
    }
    .errMsg {
        font-size: 29px;
        color: red;
        font-weight: bold;
    }

}

.third-party-login {
    .signInLabel {
        font-weight: bold;
        font-size: 20px;
        margin-right: 10px;
    }
    .googleSignIn {
        color: white;
        font-size: 16px;
        font-weight: normal;
        background-color: $google-blue;
        border: hidden;
        border-radius: 6px;
        padding: 0 0 0 0;
        font-family: "Roboto", sans-serif;
        width: 125px;
        height: 46px;
        text-align: left;
        .googleBrand {
            margin-right: 6px;
        }
    }

    .facebookSignIn {
        color: white;
        font-weight: normal;
        font-size: 16px;
        background-color: $facebook-blue;
        border: hidden;
        border-radius: 6px;
        padding: 0 0 0 0;
        font-family: Tahoma, sans-serif;
        width: 125px;
        height: 46px;
        text-align: left;
        .facebookBrand {
            width: 40px;
            padding-left: 3px;
            margin-right: 3px;
        }
    }
}

.plainAnchor {
    color: inherit;
    text-decoration: none;
}

.plainAnchor:hover {
    color: inherit;
    text-decoration: none;
}

.plainAnchor:visited {
    color: inherit;
    text-decoration: none;
}

.plainAnchor:focus {
    color: inherit;
    text-decoration: none;
}

.loginButtonArea {
    .btn-signIn {
        background-color: $light-orange;
        color: black;
        width: 120px;
        height: 46px;
    }
    border-bottom: solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

body > .navbar-default {
    margin-bottom: 0;
    background-color: $orange;
    border: 0;
    background-image: none;
    min-height: 100px;

    .logoImg {
        height: 88px;
        width: 88px;
        transition: all cubic-bezier(0.4, 0.460, 0.450, 0.940) 0.5s;
        left: 10%;
        position: absolute;
    }

    .logoImg:hover {
        height: 96.8px;
        width: 96.8px;

    }

    .navbar-brand {
        color: $white;
        font-family: Verdana;
        padding: 0;
    }

    .navbar-right {
        position: absolute;
        right: 5%;
        > li > a {
            color: $black;
            font-size: 20px;
        }
    }

    .navbar-brand-centered {
        margin: 0 auto;
        width: 100%;
        min-height: 100px;
        text-align: center;
        font-size: 55px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        font-family: "Trebuchet MS";
        padding: 14px;

        b {
            color: $white;
            a {
                color: inherit;
                text-decoration: none;
            }
            a:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        b:hover {
            color: $black;
        }

    }

    .navbar-right {
        height: 100px;
        padding-right: 20px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    @media screen and (max-width: 800px) {
        .navbar-brand-centered {
            visibility: hidden;
        }
    }
}

.carousel-inner {
    background: url("/images/banner.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    height: 250px;
}

.welcomeTitle {
    vertical-align: middle;
    text-align: center;
}

#welcome {
    background-color: $white;
    height: auto;
    margin-bottom: 0px;
    // bottom: 100%;
}

.welcome-panel {
    .card {
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.05s;
        border-radius: 10px;
        border: 10px solid transparent;
    }

    .cardBox {
        h4, p, span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        padding: 15px;
        .sports-icon {
            height: 30px;
            width: 30px;
            padding-right: 10px;

        }

        .card-text {
            height: 150px;
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
        }

        .card-title {
            text-align: center;
            font-weight: bold;
        }

    }
}

.profileTitle {
    text-align: center;
}

.select2-selection {
    min-width: 200px;
}

.profileEvents {
    @extend .welcome-panel;

    .card {
        // width: 17em;
        border: 10px solid transparent;
    }

    .cardBox {
        padding: 10px;
        .card-text {
            height: 180px;
            font-size: 19px;
        }

        .card-title {
            font-size: 19px;
        }
    }

    .expired-card {
        @extend .card;
        background-color: $light-grey;
    }
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.eventBox {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#showEvent {
    @extend .eventBox;
    padding-top: 20px;
    font-size: 1.4em;
    .eventName {
        font-weight: bold;
    }

    .eventDes {
        font-weight: bold !important;
    }

}

.eventDesImg {
    height: 100px;
    width: 100px;
}

#createEventJumbo {
    @extend .eventBox;
}

#viewBtn {
    width: 100px;
    margin: 10px;
    background-color: $light-orange;
}

.visibility-selector {
    padding-left: 15px;
}

#map {
    height: 300px;
    padding-right: 10px;
}

.invalidInput {
    color: red;
}

#profileSidebar{
    .sidebar-nav .navbar .navbar-collapse {
        padding-top: 3em;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    ul li a:hover, ul li a:focus {
        opacity: 0.6;
        background-color: $orange;
    }
    .selected {
        opacity: 0.6;
        background-color: $fade-blue;
    }

    .unselected {
        background-color: transparent;
    }

}

#addProfileInfoButton {
    width: 150px;
}

.alert {
    font-size: 19px;
}

.btn-fb {
    background-color: $facebook-blue;
    color: white;
    width: 150px;
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
}

#createBtn {
     margin-top: 10px;
 }

.join-btn-disabled {
    @extend .btn-fb;
    background-color: grey;
}

.fb-img {
    margin-right: 10px;
    width: 30px;
    height: 30px
}

#usernameField {
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}
