<div class="container">
    <div class="row" id="event">
        <h1 id="eventName"> {{event.type}} </h1>
        <div class="jumbotron" id="showEvent">
            <div class="container">
                <div class="col-md-9">
                    <p>Location:  {{event.place}} </p>
                    <p>Skill Level:  {{event.skLevel}} </p>
                    <h3>Description:</h3>
                    <p>{{event.desc}} </p>
                </div>
                <div class="col-md-3">
                    <img src="{{event.img}}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-lg">Join Event</button>
        <button type="submit" class="btn btn-lg">Invite Friends</button>
    </div>
</div>
