@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font: 14px "Titillium Web", "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  /*background-image: url("/images/women.jpg");*/ }

#backgroundImg img {
  width: 10px; }

.btn-search {
  width: 150px;
  background-color: #FFAF6C;
  color: black; }

#createEventBtn {
  width: 150px; }

.btn {
  color: black; }

.carousel-image {
  /*background-size: cover;*/
  width: 100%; }

.collapse {
  min-height: 100px; }

.eventList {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EFEFEF; }
  .eventList .eventBody {
    margin: 10px;
    border: 0 solid black;
    background-color: white; }
  .eventList .eventImg {
    width: 100px;
    padding: 10px;
    vertical-align: middle; }
  .eventList #events-container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%; }
  .eventList .eventTitle {
    margin-top: 10px; }

.filter {
  padding-top: 20px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  background-color: white;
  padding-bottom: 20px; }

.filter-label {
  font-size: large; }

#joinBtn {
  margin: 10px;
  width: 100px;
  background-color: #FFAF6C; }

#loginComponent {
  padding-top: 100px; }
  #loginComponent p {
    font-size: 16px; }
  #loginComponent .errMsg {
    font-size: 29px;
    color: red;
    font-weight: bold; }

.third-party-login .signInLabel {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px; }

.third-party-login .googleSignIn {
  color: white;
  font-size: 16px;
  font-weight: normal;
  background-color: #4285f4;
  border: hidden;
  border-radius: 6px;
  padding: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  width: 125px;
  height: 46px;
  text-align: left; }
  .third-party-login .googleSignIn .googleBrand {
    margin-right: 6px; }

.third-party-login .facebookSignIn {
  color: white;
  font-weight: normal;
  font-size: 16px;
  background-color: #3b579d;
  border: hidden;
  border-radius: 6px;
  padding: 0 0 0 0;
  font-family: Tahoma, sans-serif;
  width: 125px;
  height: 46px;
  text-align: left; }
  .third-party-login .facebookSignIn .facebookBrand {
    width: 40px;
    padding-left: 3px;
    margin-right: 3px; }

.plainAnchor {
  color: inherit;
  text-decoration: none; }

.plainAnchor:hover {
  color: inherit;
  text-decoration: none; }

.plainAnchor:visited {
  color: inherit;
  text-decoration: none; }

.plainAnchor:focus {
  color: inherit;
  text-decoration: none; }

.loginButtonArea {
  border-bottom: solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .loginButtonArea .btn-signIn {
    background-color: #FFAF6C;
    color: black;
    width: 120px;
    height: 46px; }

.navbar-default {
  margin-bottom: 0;
  background-color: #f4770f;
  border: 0;
  background-image: none;
  min-height: 100px; }
  .navbar-default .logoImg {
    height: 88px;
    width: 88px;
    transition: all cubic-bezier(0.4, 0.46, 0.45, 0.94) 0.5s;
    left: 10%;
    position: absolute; }
  .navbar-default .logoImg:hover {
    height: 96.8px;
    width: 96.8px; }
  .navbar-default .navbar-brand {
    color: white;
    font-family: Verdana;
    padding: 0; }
  .navbar-default .navbar-right {
    position: absolute;
    right: 5%; }
    .navbar-default .navbar-right > li > a {
      color: black;
      font-size: 20px; }
  .navbar-default .navbar-brand-centered {
    position: absolute;
    left: 40%;
    display: block;
    width: 300px;
    min-height: 100px;
    text-align: center;
    font-size: 55px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: "Trebuchet MS";
    padding: 14px; }
    .navbar-default .navbar-brand-centered b {
      color: white; }
      .navbar-default .navbar-brand-centered b a {
        color: inherit;
        text-decoration: none; }
      .navbar-default .navbar-brand-centered b a:hover {
        color: inherit;
        text-decoration: none; }
    .navbar-default .navbar-brand-centered b:hover {
      color: black; }
  .navbar-default .navbar-right {
    height: 100px;
    padding-right: 20px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; }
  @media screen and (max-width: 800px) {
    .navbar-default .navbar-brand-centered {
      visibility: hidden; } }

.welcomeTitle {
  vertical-align: middle;
  text-align: center; }

#welcome {
  background-color: white;
  height: auto;
  margin-bottom: 0px; }

.welcome-panel .card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.05s;
  border-radius: 10px;
  border: 10px solid transparent; }

.welcome-panel .cardBox {
  padding: 15px; }
  .welcome-panel .cardBox .sports-icon {
    height: 30px;
    width: 30px;
    padding-right: 10px; }
  .welcome-panel .cardBox .card-text {
    height: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px; }
  .welcome-panel .cardBox .card-title {
    text-align: center;
    font-weight: bold; }

.grow {
  transition: all .2s ease-in-out; }

.grow:hover {
  transform: scale(1.1); }

.eventBox, #showEvent, #createEventJumbo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px; }

#showEvent .eventName {
  font-weight: bold; }

#showEvent .eventDes {
  font-weight: bold !important; }

.eventDesImg {
  height: 100px;
  width: 100px; }

#viewBtn {
  width: 100px;
  margin: 10px;
  background-color: #FFAF6C; }

.visibility-selector {
  padding-left: 15px; }

#map {
  height: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px; }

.invalidInput {
  color: red; }

#myEventsList .card {
  margin: 10px 10px;
  font-size: 1em;
  overflow: hidden;
  display: inline-block;
  float: left;
  padding: 0;
  border: none;
  height: 25em;
  border-radius: .2857429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }

#myEventsList .card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none; }

#myEventsList .card-img-top {
  display: block;
  width: 50%;
  height: auto; }

#myEventsList #eventImg {
  height: 15em;
  width: 10em; }

#myEventsList .card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em; }

#myEventsList .card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, 0.68); }

#myEventsList #scrolly {
  width: 70em;
  height: 50em;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap; }

#myEventsList .card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff; }

#myEventsList .meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4); }

#myEventsList .meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4); }

#myEventsList .meta a:hover {
  color: rgba(0, 0, 0, 0.87); }
