<div id="userProfile">
    <div  class="container-fluid">
        <div class="navbar-header" data-spy="affix">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Profile</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#section1">Subscribed Events</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content" data-spy="scroll">
        <div id="myEventsList">
            <div id="section1" class="container-fluid">
                <br>
                <h3>My Events</h3>
                <div ng-repeat="event in events">
                    <div class="container">
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">{{ event.sportType + ' for '+ event.skillLevel + ' skill level'
                                        }}</h4>
                                </div>
                                <div class="card-footer">
                                    <span class="float-right">{{event.startDate}}</span>
                                    <span><i class=""></i>{{event.participants.length+ ' participants'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
