<div id="profilePage">
    <div class="col-md-2" id="profileSidebar" >
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Profile</a>
                    <span class="visible-xs navbar-brand"></span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-class="eventsSidebarSelect" ng-click="showEvents()"> Events </a></li>
                        <li><a ng-class="accountSidebarSelect" ng-click="showAccount()"> Account Information </a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <!--/active view -->
        <div class="container" ng-show="activeView =='eventsCase'" id="eventsContent">
            <h2 class="profileTitle"> Your Events </h2>
            <div class="profileEvents">
                <div class="card-deck">
                    <div class="col-md-3 col-sm-12 grow" ng-repeat="event in events">
                        <div class="cardBox " ng-click="viewEvent(event)">
                            <div class="card-block" ng-class="event.class">
                                <h3 class="card-title">
                                    <img class="sports-icon" ng-src="{{event.img}}">{{event.sportType}}
                                </h3>
                                <div class="card-text">
                                    <p> {{event.location}} </p>
                                    <p> {{event.startDate}} </p>
                                    <p> {{event.startTime}} </p>
                                    <p ng-if="!event.expired"> {{event.timeLeft}} </p>
                                    <span><i class=""></i>{{event.participants.length+ ' participants'}}</span>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-md-9" ng-show="activeView=='accountInfoCase'" id="accountInfoContent">
                <h2> Your account </h2>
                <div class="container">
                    <form role="form" name="createEventForm" novalidate>
                    <div>
                        <p class="userName">Name: </p>
                    </div>
                    <div>
                        <input ng-model="userData[0].name" type="text" id="nameInput" name="name"
                               placeholder="Enter name">
                    </div>
                    <div>
                        <p class="phoneNumber">Phone number: </p>
                    </div>
                    <div>
                        <input ng-model="userData[0].phone" type="text" id="phoneNumber"
                               name="phoneNumber"
                               placeholder="Enter phone Number">
                    </div>
                    <div>
                        <p class="postcode">Postcode: </p>
                    </div>
                    <div>
                        <input ng-model="userData[0].postCode" type="text" id="postCode"
                               name="phoneNumber" maxlength="4"
                               placeholder="Enter VIC postcode">
                    </div>
                    <div>
                        <p class="interests">Interests: </p>
                    </div>
                    <div >
                        <select multiple  id="interests" ng-options="sport.code as sport.name for sport in sports"  ng-model="userData[0].interests" >
                            <option style="display:none" value="" placeholder="Add some of your interests"></option>
                        </select>
                    </div>

                    <p>Interests Added: {{interests}}</p>
                    <button  ng-click="updateProfile()"  class="btn btn-lg btn-search"> Submit
                    </button>
                    </form>
                </div>

        </div>
    </div>

</div>
