<div class="filter row form-group">
    <div id="searchResult" class="container">
        <div class="col-md-3 col-sm-3">
            <label for="typeSelect" class="filter-label">Activity Type:</label>
            <select ng-model="typeSelect" ng-options="type for type in types" class="form-control" id="typeSelect" ></select>
        </div>
        <div class="col-md-3 col-sm-3">
            <label for="dateSelect" class="filter-label">Activity Date:</label>
            <input ng-model="dateSelect" type="date" class="form-control" id="dateSelect">
        </div>
        <div class="col-md-3 col-sm-3">
            <label for="skillSelect" class="filter-label">Skill Level:</label>
            <select ng-model="skillSelect" ng-options="skill for skill in skills" class="form-control" id="skillSelect" ></select>
        </div>
    </div>
</div>
<div class="eventList">
    <div class="container">
        <div ng-repeat="event in eventList">
            <div class="row eventBody">
                <div class="col-md-3 col-sm-3"><img class="eventImg" src="{{event.img}}"></div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="eventTitle">{{event.sportType +' @ '+event.location}}</h2>
                    <p>Skill Level: {{event.skillLevel}}</p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button class="btn btn-large" ng-click="viewEvent(event)" id="viewBtn">View Event</button>
                    <button class="btn btn-large" ng-click="joinEvent(event)" id="joinBtn">Join Event</button>
                </div>
            </div>
        </div>
    </div>
</div>
