<!--The image and its captions-->
<div class="carousel slide main-carousel" id="carousel-index">
    <div class="carousel-inner">
        <div class="carousel-caption">
            <a href="/result" class="plainAnchor">
                <button class="btn btn-search btn-lg" type="button" id="findEventBtn">
                    Find an Event
                </button>
            </a>
            <a href="/createEvent" class="plainAnchor">
                <button class="btn btn-lg" type="button" id="createEventBtn">
                    Create Event
                </button>
            </a>
            <h3>Discover Events in Melbourne! </h3>
        </div>
    </div>
</div>

<!--The recommendations-->
<div id="welcome" class="jumbotron" ng-controller = "welcomeController">

    <h2 class="welcomeTitle"> What's Hot/ Suggestion </h2>
    <div class="container" id="events-container">
        <div class="welcome-panel">
            <div class="card-deck">
                <div class="col-md-4 grow" ng-repeat="event in events">
                    <div class="cardBox " ng-click="viewEvent(event)">
                        <div class="card card-block">
                            <h3 class="card-title">
                                <img class="sports-icon" ng-src="{{event.img}}">{{event.sportType}}
                            </h3>
                            <div class="card-text">
                                <p> {{event.location}} </p>
                                <p> {{event.startDate}} </p>
                                <p> {{event.startTime}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
