<div class="col-sm-6 col-sm-offset-3">
    <div class="form" id="createEvent">
        <form>
            <h1> Create  Event </h1>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="data.sportType">Sports Category: </label>
                    </div>
                    <div class="col-md-9">

                        <select id="data.sportType" class="form-control"
                                ng-model="data.sportType"
                                ng-options="x for x in sportsCategory">
                        </select>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="startDate">Date: </label>
                    </div>
                    <div class="col-md-9">
                        <md-datepicker ng-model="date.startDate" md-placeholder="Enter date">

                        </md-datepicker>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="startTime"> Starting Time: </label>
                    </div>
                    <div class="col-md-9">
                        <select id="startTime" class="form-control"
                                ng-model="data.startTime"
                                ng-options="x for x in startTime"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="duration"> Duration: </label>
                    </div>
                    <div class="col-md-9">
                        <select id="duration" class="form-control"
                                ng-model="data.duration"
                                ng-options="x for x in duration"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="descriptionTextarea">Description</label>
                    </div>
                    <div class="col-md-9">
                        <textarea id="descriptionTextarea" class="form-control"
                                  ng-model="data.description"
                                  placeholder="Enter the event description here">
                        </textarea>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row visibility-selector">
                  <label>
                    <input type="radio" ng-model="data.visibility" value="Friends">
                    Friends Only
                  </label><br/>
                  <label>
                    <input type="radio" ng-model="data.visibility" value="Public">
                    Public
                  </label><br/>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="locationInput">Location</label>
                    </div>
                    <div class="col-md-9">
                        <textarea id="locationInput" class="form-control"
                                  ng-model="data.location"
                                  placeholder="Search for location">
                        </textarea>
                    </div>
                </div>
            </div>
            <button ng-click="createEvent()" type="submit" class="btn btn-lg btn-search">Create</button>
        </form>
    </div>
</div>
