<div class="jumbotron text-center" id="welcome" ng-controller = "welcomeController">

    <h2> What's Hot/ Suggestion </h2>
    <div class="panel-group">
        <div class="row" ng-repeat= "eventCol in events | groupBy:4">
            <div class="col-xs-3 letter-box panel panel-default"     ng-repeat="event in eventCol">
                <div class="panel-heading">
                    {{event.sport}} 
                </div>
                <div class="panel-body">
                    <p> {{event.location}} </p>
                    <p> {{event.time}} </p>
                </div>


            </div>
        </div>
    </div>
</div>
