<div class="carousel slide" id="carousel-index">
    <div class="carousel-inner">
        <div class="item active">
            <img class="carousel-image" alt="" src="images/women.jpg">
            <div class="carousel-caption">
                <h1>Discover Events in Melbourne! </h1>
            </div>
        </div>
		<div id="search-input" class="row">
				<div class="input-group col-md-12">
						<input type="text" class="form-control input-lg" placeholder="Buscar"/>
						<span class="input-group-btn">
								<a href="/result">
										<button class="btn btn-spl btn-lg" type="button">
											<i class="glyphicon glyphicon-search"></i>
										</button>
								</a>
						</span>
				</div>
		</div>
    </div>
</div>

<div class="jumbotron text-center" id="welcome" ng-controller = "welcomeController">

    <h2> What's Hot/ Suggestion </h2>
    <div class="container">
        <div class="panel-group">
            <div class="row" ng-repeat= "eventCol in events | groupBy:4">
                <div class="col-md-4 letter-box panel panel-default"     ng-repeat="event in eventCol">
                    <div class="panel-heading">
                        <h3>{{event.sport}}</h3>
                    </div>
                    <div class="panel-body">
                        <p> {{event.location}} </p>
                        <p> {{event.time}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
