<div class="container">
    <div class="row" id="event">
        <h1 id="eventName"> {{event.type}} </h1>
        <div class="jumbotron" id="showEvent">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="eventDes">Sport Type: </p>
                        </div>
                        <div class="col-md-9">
                            <p>
                                {{event.sportType}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="eventDes">Location: </p>
                        </div>
                        <div class="col-md-9">
                            <p>
                                {{event.location}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="eventDes">Skill Level: </p>
                        </div>
                        <div class="col-md-9">
                            <p>
                                {{event.skillLevel}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="eventDes">Description: </p>
                        </div>
                        <div class="col-md-9">
                            <p>
                                {{event.description}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-lg btn-search">Join Event</button>
        <button type="submit" class="btn btn-lg">Invite Friends</button>
    </div>
</div>
