body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("/images/women.jpg");*/
}

#backgroundImg img {
    width: 10px
}

@media screen and (min-width:768px){
    .navbar {
        margin-bottom: 0;
        background-color: rgba(85, 151, 116, 0.3);
        border: 0;
    }
    .navbar-default{
        background-image: none;
        min-height: 100px;
    }
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        min-height: 100px;
        text-align: center;
        font-size: 30px;
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        /*background-color: #eee;*/
    }
    .navbar-right {
        height: 100px;
        padding-right: 20px;
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        /* To make the text in the middle of the block*/
        padding: 14px;
    }
    .collapse{
        min-height: 100px;
    }
    .logoImg{
        height: 100px;
    }
}
/* To fit the logo image to the nav bar*/
.navbar-brand{
    padding : 0;
}
.panel {
    margin: 4.310344827586206896551724137931%;
    margin-left: 0;
    margin-top: 0;
    padding: 4.310344827586206896551724137931%;
    cursor: pointer;
}
.eventImg{
    width : 100%;
    height : 100%;
    max-width: 200px;
}

.eventBody{
    margin : 10px;
    border : 1px solid black;
    background-color: #FDF6F6;
}

.eventTitle{
    margin-top : 10px;
}

.eventList {
    background-color: rgba(109, 152, 182, 0.28);
    padding-top: 10px;
    padding-bottom: 10px;
}


#joinBtn{
    margin: 10px;
    width: 100px;
    background-color: #FA8B60;
}

#viewBtn{
    width: 100px;
    margin: 10px;
    background-color: #FA8B60;
}

.btn-spl{
    width: 100px;
    background-color: #FA8B60;
}



.carousel-inner {
    height: 100%;
}

.carousel-image{
    /*background-size: cover;*/
    width: 100%;
}

.jumbotron {
    background-color: rgba(109, 152, 182, 0.28);

}

.panel-group .panel+.panel {
    /*margin: 5px*/
    margin-top:0;
}

.panel {
    border: 10px solid rgba(109, 152, 182, 0.28);
    padding-left: 0;
    padding-right: 0;
}

.panel-heading{
    height: 70px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

#loginComponent{
    padding-top: 100px;
}
