body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/women.jpg");
}

a {
  color: transparent;
}

#welcome {
    background: transparent;
}
#backgroundImg img {
    width: 10px
}

#main {
    background:transparent;
}
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background:transparent;
        /*background-color: #eee;*/
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    .logoImg{
        width: 100px;
    }
}
